<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cms.mapper.CatalogMapper">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <resultMap type="cms.po.Catalog" id="catalog">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="folder" property="folder"/>
        <result column="deep" property="deep"/>
        <result column="pid" property="pid"/>
        <result column="pidPath" property="pidPath"/>
        <result column="sum" property="sum"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="createDate" property="createDate"/>
        <result column="createBy" property="createBy"/>
        <result column="updateDate" property="updateDate"/>
        <result column="updateBy" property="updateBy"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <sql id="columns">name,folder,deep,pid,pidPath,sum,status,sort,createDate,createBy,updateDate,updateBy,remarks</sql>
    <sql id="table">catalog</sql>

    <insert id="insert" parameterType="cms.po.Catalog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES
        (#{name},#{folder},#{deep},#{pid},#{pidPath},#{sum},#{status},#{sort},now(),#{createBy},#{updateDate},#{updateBy},#{remarks})
    </insert>

    <delete id="deleteById" parameterType="int">
        UPDATE
        <include refid="table"/>
        SET status = 1
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="cms.po.Catalog">
        UPDATE
        <include refid="table"/>
        SET name = #{name},
        folder = #{folder},
        deep = #{deep},
        pid = #{pid},
        sort = #{sort},
        updateDate = now()
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="int" resultMap="catalog">
        SELECT id,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="catalog">
        SELECT id,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        ORDER BY deep ASC
    </select>

    <select id="getAll2" resultMap="catalog">
        select id,pid,deep,name,count(*) sum from (select catalog.id,catalog.pid,catalog.deep,catalog.`name` from catalog left join article on catalog.id = article.catalogId &amp;&amp; article.status = 3) t GROUP BY id ORDER BY id ASC;
    </select>

    <select id="getByPage" parameterType="cms.vo.Page" resultMap="catalog">
        SELECT id,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        ORDER BY deep ASC
        LIMIT #{start}, #{size}
    </select>

    <select id="getCountByPage" parameterType="cms.vo.Page" resultType="long">
        SELECT COUNT(*)
        FROM
        <include refid="table"/>
    </select>

    <!--自定义-->

    <!--一级二级三级依次-->
    <select id="getAllByTree" parameterType="java.util.HashMap" resultType="cms.po.Catalog">
        SELECT * FROM
        <include refid="table"/>
        WHERE FIND_IN_SET(id, queryChildrenInfo(#{folder} )) ORDER BY deep ASC;
    </select>
</mapper>