<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cms.mapper.PermissionMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

    <resultMap type="cms.po.Permission" id="permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="createDate" property="createDate"/>
        <result column="createBy" property="createBy"/>
        <result column="updateDate" property="updateDate"/>
        <result column="updateBy" property="updateBy"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <sql id="columns">name,value,status,sort,createDate,createBy,updateDate,updateBy,remarks</sql>
    <sql id="table">sys_permission</sql>

    <insert id="insert" parameterType="cms.po.Permission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES (#{name}, #{value},#{status},#{sort},now(),#{createBy},#{updateDate},#{updateBy},#{remarks})
    </insert>

    <delete id="deleteById" parameterType="int">
        UPDATE
        <include refid="table"/>
        SET status = 1
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="cms.po.Permission">
        UPDATE
        <include refid="table"/>
        SET name = #{name},
        value = #{value},
        updateDate = now()
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="int" resultMap="permission">
        SELECT id,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="permission">
        SELECT id,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        ORDER BY createDate DESC
    </select>

    <select id="getByPage" parameterType="cms.vo.Page" resultMap="permission">
        SELECT id,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        ORDER BY createDate DESC
        LIMIT #{start}, #{size}
    </select>

    <select id="getCountByPage" parameterType="cms.vo.Page" resultType="long">
        SELECT COUNT(*)
        FROM
        <include refid="table"/>
    </select>

    <!--自定义-->

    <select id="getByUserId" parameterType="int" resultMap="permission">
        SELECT p.*
        FROM
        <include refid="table"/>
        p, sys_role_permission rp, sys_role r, sys_user_role ur
        WHERE p.id=rp.permissionId AND rp.roleId=r.id AND r.id=ur.roleId AND ur.userId=#{value}
    </select>
</mapper>