<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="keywords" content="测试文章,测试文章,测试文章,测试文章,测试文章"/>
    <meta name="description" content="测试文章测试文章测试文章测试文章测试文章测试文章"/>
    <title>测试文章_Hong</title>

    <link rel="shortcut icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../static/css/basic.css">
    <link rel="stylesheet" href="../../static/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/jquery/blitzer/jquery-ui.min.css">

    <script src="../../static/jquery/jquery-1.10.2.min.js"></script>
    <script src="../../static/bootstrap2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="content">
        <h1 class="transform">

        </h1>

        <form class="navbar-form pull-right" style="margin-top: 20px;" id="kwform" action="../../">
            <div class="input-append">
                <input type="text" class="span4" placeholder="输入关键词查询" id="kw">
                <button type="submit" class="btn">搜索</button>
            </div>
        </form>
    </div>
</div>

<div class="container" style="width:1180px;">
    <div class="content">
        <div class="row">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="nav-collapse collapse">
                            <ul class="nav" style="height:40px;">
                                <li>
                                    <a href="../../"><span>首页</span></a>
                                </li>
                                                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="/dead?catalog=1"
                                           data-hover="dropdown">算法
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="/dead?catalog=2"
                                           data-hover="dropdown">Java
                                        </a>
                                            <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu">
                                                        <a href="/dead?catalog=49">test</a>
                                                        <ul class="dropdown-menu">
                                                                <li class="">
                                                                    <a href="/dead?catalog=50">test1</a>
                                                                </li>
                                                        </ul>
                                                    </li>
                                            </ul>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3 breadcrumb pull-right" style="margin-bottom: 0px; margin-left: 0px; padding: 0px;">
                <div style="padding-top:15px;padding-left:15px;">
                    <p>关注大数据,分布式,机器学习,数据挖掘,搜索
                    <p>github <a target="_blank" href="https://github.com/hong0220">https://github.com/hong0220<a/>
                    <p>qq群 <a target="_blank"
                              href="http://shang.qq.com/wpa/qunwpa?idkey=d5dec4e45fe3843d5c0fe8ca5c77aae2e0cf19df72aa4ae26500c31ff63d2735"><img
                            border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Java技术交流群"
                            title="Java技术交流群"></a>
                    <p>签名:自己选择的路，跪着也要走完
                </div>

                <hr>

                <strong>&nbsp;分类目录</strong>
                <select id="catalogId" style="width: 230px">
                    <option>选择目录</option>

                    <option value="1">算法 &nbsp; (1)</option>

                    <option value="2">Java &nbsp; (1)</option>

                </select>
                <hr>

                <div>
                    <iframe width="100%" height="100" class="share_self" frameborder="0" scrolling="no"
                            src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=0&isWeibo=0&isFans=0&uid=2199178482&verifier=607c53d8&dpc=1"></iframe>
                </div>
                <hr>

                <div>
                    <embed src="http://www.xiami.com/widget/44213257_3621488,174652,_235_346_FF8719_494949_0/multiPlayer.swf"
                           type="application/x-shockwave-flash" width="300" height="200" wmode="opaque"></embed>
                </div>
                <hr>

                <strong>&nbsp;文章归档</strong>
                <select id="articleId" style="width: 230px">
                            <option>2016-06 (1)</option>
                </select>
                <hr>

                <div id="tagcloud">
                        <a href="#">算法</a>
                        <a href="#">Java</a>
                                <a href="#">test</a>
                                        <a href="#">test1</a>
                </div>
                <hr>
            </div>

            <link rel="stylesheet" type="text/css" href="../../static/editor_md/css/editormd.preview.css">

            <div class="breadcrumb pull-left" style="width:840px;">
                <blockquote>
                    <p><strong class="text-success">0</strong>&nbsp;测试文章</p>
                    <small>
                        作者：admin,&nbsp;&nbsp;

                        发表于：2016-06-14 16:46:06,&nbsp;&nbsp;

                        更新于：<font color="black">2016-06-14 18:01:28</font>,&nbsp;&nbsp;

                        浏览量：<span id="pageView">32</span>
                    </small>
                </blockquote>
                <hr/>

                <div id="test-editormd-view" style="width:815px;">
                    <textarea># 问题
1. 编码的定长容易导致扩展性问题
2. 事项基本码的维护和来源目前没有确定的说法
3. 从编码角度未体现责任和权力的关联关系
![](http://localhost:8080/dead/upload/attachment/2016/06/14/SS0YarwfxA.png)</textarea>
                </div>

                <div id="attachments"></div>
                <hr/>

                <div class="bdsharebuttonbox" style="margin-left: 10px">
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                    <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                </div>
            </div>


            <div class="pull-left" style="width:840px;">
                <br/>
            </div>

            <script src="../../static/jquery/jquery-1.10.2.min.js"></script>
            <script src="../../static/editor_md/lib/marked.min.js"></script>
            <script src="../../static/editor_md/lib/prettify.min.js"></script>
            <script src="../../static/editor_md/lib/raphael.min.js"></script>
            <script src="../../static/editor_md/lib/underscore.min.js"></script>
            <script src="../../static/editor_md/lib/sequence-diagram.min.js"></script>
            <script src="../../static/editor_md/lib/flowchart.min.js"></script>
            <script src="../../static/editor_md/lib/jquery.flowchart.min.js"></script>
            <script src="../../static/editor_md/js/editormd.min.js"></script>

            <script type="text/javascript">
                $(function () {
                    var testEditormdView2 = editormd.markdownToHTML("test-editormd-view", {
                        htmlDecode: "style,script,iframe",  // you can filter tags decode
                        emoji: true,
                        taskList: true,
                        tex: true,  // 默认不解析
                        flowChart: true,  // 默认不解析
                        sequenceDiagram: true,  // 默认不解析
                    });
                });

                window._bd_share_config = {
                    "common": {
                        "bdSnsKey": {},
                        "bdText": "",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "1",
                        "bdSize": "24"
                    },
                    "share": {},
                    "image": {
                        "viewList": ["qzone", "tsina", "sqq", "weixin", "youdao", "fbook"],
                        "viewText": "分享到：",
                        "viewSize": "24"
                    },
                    "selectShare": {
                        "bdContainerClass": null,
                        "bdSelectMiniList": ["qzone", "tsina", "sqq", "weixin", "youdao", "fbook"]
                    }
                };
                with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
            </script>

        </div>
    </div>

    <hr style="margin: 20px 0 10px;">

    <footer>
        <div class="copyright">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a target="_blank">Copyright © Hong.</a>
        </div>
    </footer>
</div>

<script src="../../static/jquery/jquery-ui.js"></script>
<script src="../../static/jquery/jquery.windstagball.js"></script>
<script src="../../static/bootstrap2/js/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#tagcloud").windstagball({
            radius: 120,
            speed: 1
        });

        var catalogDropdown = document.getElementById("catalogId");

        function oncatalogChange() {
            if (catalogDropdown.options[catalogDropdown.selectedIndex].value > 0) {
                location.href = "/dead?catalog=" + catalogDropdown.options[catalogDropdown.selectedIndex].value;
            }
        }

        catalogDropdown.onchange = oncatalogChange;

        // 智能搜索提示
        $("#kw").autocomplete({
            source: "../../suggest"
        });
    });
</script>
</body>
</html>
